<%= render partial: "questions", locals: {questions: @questions, current_tab: @current_tab} %>

<div class="Polaris-Card">
  <div class="Polaris-Card__Section">
    <div class="Polaris-DatePicker">
      <div class="Polaris-DatePicker__Header"><button type="button" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Show previous month, April 2017"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2" fill-rule="evenodd"></path></svg></span></span></span></button>
        <button
          type="button" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Show next month, June 2017"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path></svg></span></span>
          </span>
          </button>
      </div>
      
    </div>
  </div>
</div>
