h2.brief, h2.customer {
  font-size: 1.4em;
  font-weight: 500;
  padding-bottom: 3px;
}

.questions-wrapper {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px
}

.item {
  padding: 1em;
}

.title {
  width: 300px;
}

.pagination {
  padding-top: 10px;
}

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.pagination a, .pagination em, .pagination span {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
